<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular Excercise</title>
</head>


	<style>
        body {
            background-color: #ccc;
            padding: 50px;
        }
    </style>

<body ng-app="App">
	<div ng-controller="WannaBuy">
		<ul>
			<li ng-repeat="item in items" >{{item.name}} - {{item.quantidade}}</li>
		</ul>
	</div>
	<div ng-controller="AddItemCtrl">
		<form ng-submit="addItem(item)">
			<input type="text" ng-model="item.name">
			<input type="number" ng-model="item.quantidade">
			<input type="submit" value="Add">
		</form>
	</div>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/modules.js"></script>

</body>



</html>