div{padding: 10px 40px; font-family: courier; height: 100px;}
small{font-size: 12px; font-weight: bold; text-decoration: underline;}
h3{
	font-size: 14px; padding: 0px;
}

.cyan {
    background-color: #1fb2de;
  }

.green {
    background-color: #34aa38;
}

.yellow {
    background-color: #e3e333;
}
.mensagem {
    color: white;
}